
<table>
 <tr>
	<th>Firstname</th>
	<th>Lastname</th>
	<th>Email</th>
 </tr>

<tr>
<td><%= @detail.firstname%></td>
<td><%= @detail.lastname%></td>
<td><%= @detail.email%></td>
</tr>
</table>
<%= link_to 'Edit', detail_edit_path%>